# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/emulator_dev/target/
/emulator_dev/nbactions.xml
/emulator_dev/temp.txt
/frontend/target/*
/frontend/temp.txt
/emulator_release/nbactions.xml
/emulator_release/temp.txt
/emulator_release/target/
/release_files/arcadeflex.cfg
/release_files/nvram/*.nv
